@tailwind base;
@tailwind components;
@tailwind utilities;

.addicon:hover {
    color: #0b1274;
}
.trashIcon:hover {
    color: black;
}
body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.line-through {
    color: rgb(147, 150, 150);
}